$accentColor = #424242
$textColor = #232321
$MQWide ?= 1440px
$MQMobile ?= 768px

// 首页图片上文字颜色
.home-blog .hero h1, .home-blog .hero .description, .home-blog .hero .action {
  color: #ffffff!important
}

.navbar .site-name {
  color: #ffffff!important
}

.navbar span {
    color: #FE938C!important
}

.nav-link{
    color: #FE938C!important
}
.undefined{
  textColor: #000000!important
}

.reco-tag:before {
  color: #4281A4!important
}

.reco-color:before {
  color: #4281A4!important
}

.reco-category:before {
  color: #4281A4!important
}

.reco-home:before {
  color: #4281A4!important
}

.reco-date:before {
  color: #4281A4!important
}

.reco-github:before {
  color: #4281A4!important
}

.search-box input {
  color: #4281A4!important
}

.back-to-ceiling .icon[data-v-c6073ba8] {
  fill: #4281A4
}